<container>
 <row>
    <column class="gutter txt-l pad-b">
       <h2 class="heading-large">How do you like to vacation?</h2>
    </column>
 </row>
</container>
<container>
          <row class="pad-b-lrg">
            <column class="l-col-item" large="6" small="6">
               <a href="https://www.vacasa.com/lakefront-vacation-rentals?utm_source=transactional&utm_medium=email&utm_campaign=tx-rebooking-1"
                  target="_blank">
                  <img infer="retina"
                     src="https://vacasa-units.imgix.net/1698748.jpg?w=568&ar=1:1&fit=crop&corner-radius=8,8,8,8&mask=corners"
                     alt="Lake houses" width="500" style="display: block; width: 100%; max-width: 500px;" />
                  <p class="body-text pad-t-sml" style="color: #0E3348;">Lakefront homes ›</p>
               </a>
            </column>
            <column class="r-col-item" large="6" small="6">
               <a href="https://www.vacasa.com/pet-friendly-vacation-rentals?utm_source=transactional&utm_medium=email&utm_campaign=tx-rebooking-1"
                  target="_blank">
                  <img infer="retina"
                     src="https://www-vacasa.imgix.net/IMG_3929.jpg?w=568&ar=1:1&fit=crop&corner-radius=8,8,8,8&mask=corners"
                     alt="Hot Tub" width="500" style="display: block; width: 100%; max-width: 500px;"/>
                  <p class="body-text pad-t-sml" style="color: #0E3348;">Dog-friendly homes ›</p>
               </a>
            </column>
             </row>
             <row class="pad-b-xl">
               <column class="l-col-item" large="6" small="6">
                  <a href="https://www.vacasa.com/vacation-rentals-with-pools?utm_source=transactional&utm_medium=email&utm_campaign=tx-rebooking-1"
                     target="_blank">
                     <img infer="retina"
                        src="https://www-vacasa.imgix.net/47748_key_west_fl_pool.jpg?w=568&ar=1:1&fit=crop&corner-radius=8,8,8,8&mask=corners"
                        alt="Oceanfront" width="500" style="display: block; width: 100%; max-width: 500px;" />
                     <p class="body-text pad-t-sml" style="color: #0E3348;">Homes with pools ›</p>
                  </a>
               </column>
               <column class="r-col-item" large="6" small="6">
                  <a href="https://www.vacasa.com/oceanfront-vacation-rentals?utm_source=transactional&utm_medium=email&utm_campaign=tx-rebooking-1"
                     target="_blank">
                     <img infer="retina"
                        src="https://vacasa-units.imgix.net/1259207.jpg?w=568&ar=1:1&fit=crop&corner-radius=8,8,8,8&mask=corners"
                        alt="Oceanfront" width="500" style="display: block; width: 100%; max-width: 500px;" />
                     <p class="body-text pad-t-sml" style="color: #0E3348;">Oceanfront homes ›</p>
                  </a>
               </column>
            </row>
       </container>