<!-- raw-helper -->
<container>
	<row class="gutter">
		<column large="6" small="6" class="r-col-item txt-center">
			<a href="https://www.vacasa.com{{{recommendations.trending_destinations_segment2.0.url}}}?{{{ utms }}}" target="_blank">
				<img class="pad-t" infer="retina" src="{{{recommendations.trending_destinations_segment2.0.dest_imageid}}}?w=1280&fit=crop&ar=1:1.15&q=100&corner-radius=5,5,5,5&mask=corners" alt="{{{ title }}}" style="width: 100%; max-width: 640px;">
				<container>
					<row>
						<column class="bg-aspen-green-30 pad-t-sml pad-b-sml rounded-4 gutter-xsml">
							<h3 class="heading-large text-is-vacasa-blue">{{{ recommendations.trending_destinations_segment2.0.name }}}</h3>
							<p class="body-small"><a href="https://www.vacasa.com{{{recommendations.trending_destinations_segment2.0.url}}}?{{{ utms }}}" target="_blank">Explore {{{recommendations.trending_destinations_segment2.0.active_unit_count}}} homes&nbsp;&#x203A;</a></p>
						</column>
					</row>
				</container>
			</a>
		</column>
		<column large="6" small="6" class="r-col-item txt-center">
			<a href="https://www.vacasa.com{{{recommendations.trending_destinations_segment2.4.url}}}?{{{ utms }}}" target="_blank">
				<img class="pad-t" infer="retina" src="{{{recommendations.trending_destinations_segment2.4.dest_imageid}}}?w=1280&fit=crop&ar=1:1.15&q=100&corner-radius=5,5,5,5&mask=corners" alt="{{{ title }}}" style="width: 100%; max-width: 640px;">
				<container>
				<row>
					<column class="bg-aspen-green-30 pad-t-sml pad-b-sml rounded-4 gutter-xsml">
				<h3 class="heading-large text-is-vacasa-blue">{{{ recommendations.trending_destinations_segment2.4.name }}}</h3>
				<p class="body-small"><a href="https://www.vacasa.com{{{recommendations.trending_destinations_segment2.4.url}}}?{{{ utms }}}" target="_blank">Explore {{{recommendations.trending_destinations_segment2.4.active_unit_count}}} homes&nbsp;&#x203A;</a></p>
					</column>
				</row>
				</container>
			</a>
		</column>
	</row>
	<row class="gutter">
		<column large="6" small="6" class="r-col-item txt-center">
			<a href="https://www.vacasa.com{{{recommendations.trending_destinations_segment2.2.url}}}?{{{ utms }}}" target="_blank">
				<img class="pad-t" infer="retina" src="{{{recommendations.trending_destinations_segment2.2.dest_imageid}}}?w=1280&fit=crop&ar=1:1.15&q=100&corner-radius=5,5,5,5&mask=corners" alt="{{{ title }}}" style="width: 100%; max-width: 640px;">
				<container>
				<row>
					<column class="bg-aspen-green-30 pad-t-sml pad-b-sml rounded-4 gutter-xsml">
				<h3 class="heading-large text-is-vacasa-blue">{{{ recommendations.trending_destinations_segment2.2.name }}}</h3>
				<p class="body-small"><a href="https://www.vacasa.com{{{recommendations.trending_destinations_segment2.2.url}}}?{{{ utms }}}" target="_blank">Explore {{{recommendations.trending_destinations_segment2.2.active_unit_count}}} homes&nbsp;&#x203A;</a></p>
					</column></row></container>
			</a>
		</column>
		<column large="6" small="6" class="r-col-item txt-center">
			<a href="https://www.vacasa.com{{{recommendations.trending_destinations_segment2.1.url}}}?{{{ utms }}}" target="_blank">
				<img class="pad-t" infer="retina" src="{{{recommendations.trending_destinations_segment2.1.dest_imageid}}}?w=1280&fit=crop&ar=1:1.15&q=100&corner-radius=5,5,5,5&mask=corners" alt="{{{ title }}}" style="width: 100%; max-width: 640px;">
				<container>
				<row>
					<column class="bg-aspen-green-30 pad-t-sml pad-b-sml rounded-4 gutter-xsml">
				<h3 class="heading-large text-is-vacasa-blue">{{{ recommendations.trending_destinations_segment2.1.name }}}</h3>
				<p class="body-small"><a href="https://www.vacasa.com{{{recommendations.trending_destinations_segment2.1.url}}}?{{{ utms }}}" target="_blank">Explore {{{recommendations.trending_destinations_segment2.1.active_unit_count}}} homes&nbsp;&#x203A;</a></p>
					</column>
				</row>
				</container>
			</a>
		</column>
		<row class="gutter">
			<column large="6" small="6" class="r-col-item txt-center">
			<a href="https://www.vacasa.com{{{recommendations.trending_destinations_segment2.3.url}}}?{{{ utms }}}" target="_blank">
				<img class="pad-t" infer="retina" src="{{{recommendations.trending_destinations_segment2.3.dest_imageid}}}?w=1280&fit=crop&ar=1:1.15&q=100&corner-radius=5,5,5,5&mask=corners" alt="{{{ title }}}" style="width: 100%; max-width: 640px;">
				<container>
				<row>
					<column class="bg-aspen-green-30 pad-t-sml pad-b-sml rounded-4 gutter-xsml">
				<h3 class="heading-large text-is-vacasa-blue">{{{ recommendations.trending_destinations_segment2.3.name }}}</h3>
				<p class="body-small"><a href="https://www.vacasa.com{{{recommendations.trending_destinations_segment2.3.url}}}?{{{ utms }}}" target="_blank">Explore {{{recommendations.trending_destinations_segment2.3.active_unit_count}}} homes&nbsp;&#x203A;</a></p>
					</column></row></container>
			</a>
			</column>
			<column large="6" small="6" class="r-col-item txt-center">
			<a href="https://www.vacasa.com{{{recommendations.trending_destinations_segment2.5.url}}}?{{{ utms }}}" target="_blank">
				<img class="pad-t" infer="retina" src="{{{recommendations.trending_destinations_segment2.5.dest_imageid}}}?w=1280&fit=crop&ar=1:1.15&q=100&corner-radius=5,5,5,5&mask=corners" alt="{{{ title }}}" style="width: 100%; max-width: 640px;">
				<container>
				<row>
					<column class="bg-aspen-green-30 pad-t-sml pad-b-sml rounded-4 gutter-xsml">
				<h3 class="heading-large text-is-vacasa-blue">{{{ recommendations.trending_destinations_segment2.5.name }}}</h3>
				<p class="body-small"><a href="https://www.vacasa.com{{{recommendations.trending_destinations_segment2.5.url}}}?{{{ utms }}}" target="_blank">Explore {{{recommendations.trending_destinations_segment2.5.active_unit_count}}} homes&nbsp;&#x203A;</a></p>
					</column></row>
				</container>
			</a>
		</column>
	</row>
	<row>
		<column class="gutter pad-t-lrg ">
			<hr style="height: 4px; widows: 100%; max-width: 640px; border-top: 1px solid #F1F1F2" />
		</column>
	</row>


<!-- /raw-helper -->
