<container>
	<row>
		<column class="gutter pad-b pad-t">
			<a href="https://vacasa.com?utm_source=transactional&utm_medium=email&utm_campaign=tx-rebooking-1">
				{{> logo-22 }}
			</a>
		</column>
	</row>
</container>
<container>
	<row>
		<column class="gutter txt-l pad-b-xl">
			<container>
				<row class="color-dusk-lightest">
					<column class="gutter pad-t pad-b bg-tetons-gray-20 rounded-5">
						<!--{{{{raw-helper}}}}-->
							<h1 class="display-medium">Let's start a tradition</h1>
							<p class="body-default pad-b-sml">We hope you had a great time at {{{UNIT_NAME}}} and can't wait to hose you again. Book your return to {{{UNIT_ADDRESS_CITY}}} below and we'll see you soon!</p>
							<a href="https://www.vacasa.com/unit/{{{ RESERVATION_UNIT_ID }}}?utm_source=transactional&utm_medium=email&utm_campaign=tx-rebooking-1?" target="_blank">
								<img class="pad-b" infer="retina" width="592"
									src="https://vacasa-units.imgix.net/{{{UNIT_PRIMARY_IMAGE_ID}}}.jpg?w=1280&mask=corners&corner-radius=10,10,10,10&ar=3.25:2&fit=crop&crop=focalpoint"
									alt="{{{UNIT_NAME}}}, located in {{{UNIT_ADDRESS_CITY}}}."></img>
							</a>
						<!--{{{{/raw-helper}}}}-->
						{{> primary-button-side }}
					</column>
				</row>
			</container>
		</column>
	</row>
</container>
