<container>
	<row>
		<column>
			<a href="https://www.vacasa.com/top-markets/2022-best-places-to-buy-a-beach-house?utm_source=sendgrid&utm_medium=email&utm_campaign=best-places-to-buy-a-beach-house_2022-03-27&utm_content=hero" target="_blank">
				<img infer="retina" width="640"
					src="http://cdn.mcauto-images-production.sendgrid.net/fc2fa22bf8f6e266/ad2478e4-1afc-4c40-b31c-4a1c65f5b8f2/1280x500.jpg" alt="Vacasa's Best Places to Buy a Beach House" style="width: 100%; max-width: 640px;"></img>
			</a>
		</column>
	</row>
</container>
</container>
<container>
	<row>
		<column class="gutter pad-t pad-b bg-tetons-gray-100 txt-center">
				<h1 class="display-medium text-is-white">A beach house to call home</h1>
				<p class="body-default pad-t-sml pad-b text-is-white">When you really love the coast, there's no need to limit your vacation to a few weeks a year. Our Best Places to Buy a Beach House 2022 report takes a look at the top waterfront vacation rental destinations where purchasing a second home has the sunniest outlook.</p>
				{{> primary-button-slug-dark-blue url="https://www.vacasa.com/top-markets/2022-best-places-to-buy-a-beach-house?utm_source=sendgrid&utm_medium=email&utm_campaign=best-places-to-buy-a-beach-house_2022-03-27&utm_content=cta-1" label="Read the Full Report" }}
				</a>
		</column>
	</row>
</container>
