<container>
	<row>
		<column class="gutter pad-b-lrg pad-t">
			<a href="https://vacasa.com">
				{{> logo-22 }}
			</a>
		</column>
	</row>
</container>
<container>
	<row>
		<column class="gutter txt-l pad-b">
			<!-- {{{{raw-helper}}}} -->
				<p class="body-default pad-b">Hi {{{sentence RESERVATION_FIRST_NAME}}},</p>
				<p class="body-default pad-b">We hope you had a great stay with Vacasa in {{{ RESERVATION_CITY_CITY }}}. If you spent part of your trip daydreaming about a second home of your own, we should talk. Owning a vacation home isn’t just a personal luxury. The right property can be a smart investment—while you enjoy the emotional reward of gathering with family and friends, year after year.</p>
				<p class="body-default pad-b">It's easier to get started than you might think. Our Vacasa Real Estate team can help you find the right home for your budget, finances, and personal interests.<br />
					<a href="https://www.vacasa.com/real-estate/buyer?utm_source=transactional&utm_medium=email&utm_campaign=tx-real-estate-post-stay-final" target="_blank">Learn about Vacasa Real Estate&nbsp;&#x203A;</a>
				</p>
				<p class="body-default pad-b">If you're interested, we would love to show you some available homes around {{{ RESERVATION_CITY_CITY }}}, or just chat with you about your home buying options.</p>
			<!-- {{{{/raw-helper}}}} -->
		</column>
	</row>
	<row>
		<column class="gutter pad-b-xl">
			<container>
				<row>
					<column class="r-col-item" large="6" small="6">
						{{> secondary-button label="Email Us" url="mailto:newhomes@vacasa.com?subject=Buying a vacation home in {{{ RESERVATION_CITY_CITY }}}&body=Hi there, I would like to learn more about investing in a {{{ RESERVATION_CITY_CITY }}} vacation home."}}
					</column>
					<column class="r-col-item" large="6" small="6">
						{{> secondary-button label="Call Us" url="tel:8772669104"}}
					</column>
				</row>
			</container>
		</column>
	</row>
	<row>
		<column class="gutter txt-l pad-b">
			<!-- {{{{raw-helper}}}} -->
				<p class="body-default pad-b">All the best,<br />
					Team Vacasa<br />
					<a href="tel:+18774747045" target="_blank">877-474-7045</a></p>
			<!-- {{{{/raw-helper}}}} -->
		</column>
	</row>
</container>