<container>
	<row>
		<column class="pad-b-sml">&nbsp;</column>
	</row>
	<row>
		<column class="txt-center pad-b-lrg">
			<!-- {{{{raw-helper}}}} -->
			<p class="unsub-pref-link">
				<a class="unsub-pref-link" href="https://www.vacasa.com/policies" target="_blank">Privacy Policy</a>
				&nbsp; | &nbsp;
				<a class="unsub-pref-link" href="<%asm_group_unsubscribe_raw_url%>" target="_blank">Unsubscribe</a>
			</p>
			<!-- {{{{/raw-helper}}}} -->
			<!--[if mso]><br /><br /><![endif]-->
			<p class="pad-t unsub-pref-link">Vacasa LLC | 850 NW 13th Ave., Portland, OR 97209</p>
		</column>
	</row>
	<row>
		<column class="pad-b gutter">
			<p class="body-text">
				<!-- {{{{raw-helper}}}} -->{{> real-estate-footer }}<!-- {{{{/raw-helper}}}} -->
			</p>
		</column>
	</row>
</container>
