/*Vacasa Blue*/
.bg-vacasa-blue-100{
	background: #0E3348 !important;
	background-color: #0E3348 !important;
}
.bg-vacasa-blue-40{
	background: #9FADB6 !important;
	background-color: #9FADB6 !important;
}
.bg-vacasa-blue-30{
	background: #B6C1C8 !important;
	background-color: #B6C1C8 !important;
}
.bg-vacasa-blue-20{
	background: #CFD6DA !important;
	background-color: #CFD6DA !important;
}
.bg-vacasa-blue-10{
	background: #E6EAEC !important;
	background-color: #E6EAEC !important;
}
/*Key West Yellow*/
.bg-keywest-yellow-100{
	background: #FFD100 !important;
	background-color: #FFD100 !important;
}
.bg-keywest-yellow-40{
	background: #FFED99 !important;
	background-color: #FFED99 !important;
}
.bg-keywest-yellow-30{
	background: #FFF1B2 !important;
	background-color: #FFF1B2 !important;
}
.bg-keywest-yellow-20{
	background: #FFF6CC !important;
	background-color: #FFF6CC !important;
}
.bg-keywest-yellow-10{
	background: #FFFAE5 !important;
	background-color: #FFFAE5 !important;
}
/*Warm Black*/
.bg-warm-black-100{
	background: #26221E !important;
	background-color: #26221E !important;
}
.bg-warm-black-40{
	background: #A8A7A5 !important;
	background-color: #A8A7A5 !important;
}
.bg-warm-black-30{
	background: #BDBCBB !important;
	background-color: #BDBCBB !important;
}
.bg-warm-black-20{
	background: #D4D3D2 !important;
	background-color: #D4D3D2 !important;
}
.bg-warm-black-10{
	background: #E9E8E8 !important;
	background-color: #E9E8E8 !important;
}
/*Teton Gray*/
.bg-tetons-gray-100{
	background: #9EB3B3 !important;
	background-color: #9EB3B3 !important;
}
.bg-tetons-gray-40{
	background: #D8E0E1 !important;
	background-color: #D8E0E1 !important;
}
.bg-tetons-gray-30{
	background: #E1E7E8 !important;
	background-color: #E1E7E8 !important;
}
.bg-tetons-gray-20{
	background: #ECF0F0 !important;
	background-color: #ECF0F0 !important;
}
.bg-tetons-gray-10{
	background: #F5F7F7 !important;
	background-color: #F5F7F7 !important;
}
/*Gulf Blue*/
.bg-gulf-blue-100{
	background: #007F90 !important;
	background-color: #007F90 !important;
}
.bg-gulf-blue-40{
	background: #99CCD3 !important;
	background-color: #99CCD3 !important;
}
.bg-gulf-blue-30{
	background: #B2D8DD !important;
	background-color: #B2D8DD !important;
}
.bg-gulf-blue-20{
	background: #CCE5E9 !important;
	background-color: #CCE5E9 !important;
}
.bg-gulf-blue-10{
	background: #E5F2F3 !important;
	background-color: #E5F2F3 !important;
}
/*Aspen Green*/
.bg-aspen-green-100{
	background: #99A98A !important;
	background-color: #99A98A !important;
}
.bg-aspen-green-40{
	background: #D6DDD0 !important;
	background-color: #D6DDD0 !important;
}
.bg-aspen-green-30{
	background: #E0E5DB !important;
	background-color: #E0E5DB !important;
}
.bg-aspen-green-20{
	background: #EBEEE8 !important;
	background-color: #EBEEE8 !important;
}
.bg-aspen-green-10{
	background: #F4F6F3 !important;
	background-color: #F4F6F3 !important;
}
/*Laguna Sunset Orange*/
.bg-laguna-orange-100{
	background: #EF7831 !important;
	background-color: #EF7831 !important;
}
.bg-aspen-green-40{
	background: #F9C9AD !important;
	background-color: #F9C9AD !important;
}
.bg-aspen-green-30{
	background: #FAD6C1 !important;
	background-color: #FAD6C1 !important;
}
.bg-aspen-green-20{
	background: #FCE4D6 !important;
	background-color: #FCE4D6 !important;
}
.bg-aspen-green-10{
	background: #FDF1EA !important;
	background-color: #FDF1EA !important;
}
/*Sedona Red*/
.bg-sedona-red-100{
	background: #DF343A !important;
	background-color: #DF343A !important;
}
.bg-sedona-red-40{
	background: #F2AEB0 !important;
	background-color: #F2AEB0 !important;
}
.bg-sedona-red-30{
	background: #F5C2C3 !important;
	background-color: #F5C2C3 !important;
}
.bg-sedona-red-20{
	background: #F9D6D8 !important;
	background-color: #F9D6D8 !important;
}
.bg-sedona-red-10{
	background: #FBEAEB !important;
	background-color: #FBEAEB !important;
}